<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{common/shoulder_fragment::head(title = 'Home')}"></div>

<body>

  <!-- ======= Header ======= -->
  <div th:replace="~{common/shoulder_fragment::header}"></div>
  
    <div th:replace="~{common/shoulder_fragment::sidebar}"></div>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Home</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-8">
          <div class="card"　th:each="post : ${postsList}">
			  			                
              <div class="card" >
				  
				   <div th:each="postImages:${post.postImagesList}">
                  <img th:src="${@storageService.getDataUri(postImages.imageUri)}" src="/assets/img/card.jpg" class="card-img-top" alt="..." />
                  </div>
                <!-- <img src="/assets/img/card.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body">
					<h3 class="card-title" th:text="${post.users.name}">田中広輔</h3>
                  <h5 class="card-title"th:text="${post.title}">リラックスしてカフェタイムを楽しむ！テラスでのカフェ体験</h5>
                  <p class="card-text" th:text="${post.body}">こんにちは、皆さん！今日は素晴らしいテラスでのカフェ体験についてお話ししたいと思います。最近、私は忙しい日常生活から離れるために、テラスでカフェを楽しむことを好んでいます。そこで、今回は私のおすすめのテラスカフェを紹介しつつ、リラックスしてカフェタイムを過ごす方法をご紹介します。
                    <br>
                    <br>
                    私が行ったカフェは、美しい景色が見渡せるテラス席が魅力のカフェでした。テラスでコーヒーや紅茶を飲みながら、日差しを浴びていると、とてもリラックスできます。また、周りの自然の風景を見ながら、ストレスが吹き飛ぶような気分になります。
                    <br>
                    <br>
                    さらに、カフェのメニューも豊富で、美味しい軽食やスイーツもたくさんありました。私は、季節限定のフルーツタルトを注文しました。フルーツの甘みがたっぷりで、サクサクのタルト生地との相性が抜群でした。食べるたびに、幸せな気分になりました。
                    <br>
                    <br>
                    テラスカフェで過ごす時間は、私にとって特別な時間です。自然の中で、おいしい食べ物や飲み物を楽しみながら、リラックスできる場所は貴重です。皆さんも、テラスカフェでのカフェタイムを試してみてはいかがでしょうか？
                  </p>
                </div>

                <div class="card-body">
					  <th:block th:if="${post.users.id == users.id}">
             <div class="card-footer" >
              <div class="row mb-3">
                <div class="col-sm-4">
                   <a th:href="@{/profile/post/delete/{id}/{usersId}(id=${post.id}, usersId=${post.users.id})}" class="btn btn-danger">投稿削除</a>
                </div>
               </div>
              </div>
             </th:block>
                  
                  <form class="row g-3" method="post" th:action="@{/profile/comment}" th:object="${requestComment}">
                    <div class="col-md-12">
                      <input type="text" class="form-control" placeholder="コメントを入力..." th:field="*{comment}">
                      <input type="hidden" name="postId" th:value="${post.id}">
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">コメントする</button>
                    </div>
                  </form>
                  
                  <div class="card-body">
                  <div class="news">
                    <div class="post-item clearfix" th:each="comments :${post.postCommentsList}">
                      <h4><a th:href="@{/profile/{usersId}(usersId=${comments.users.id})}" th:text="${comments.users.name}">前田裕司</a></h4>
                      <p th:text="${comments.comment}">ハヤシライス、ピリ辛味噌バターコーンのスープパスタを食べてきました。...</p>
                                  <th:block th:if="${comments.users.id == users.id}">
             <div class="card-footer" >
              <div class="row mb-3">
                <div class="col-sm-4">
                  <a th:href="@{/profile/comment/delete/{postsId}/{commentsId}(postsId=${post.id}, commentsId=${comments.id})}" class="btn btn-danger">削除する</a>
                </div>
              </div>
            </div>
           </th:block>
                    </div>
                  </div>
                </div>
              </div>
            	</div>
            </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            	<img th:src="(*{users.iconUri} ? ${@storageService.getDataUri(users.iconUri)} : '/assets/img/profile-dummy.png')"  class="rounded-circle" style="width: 120px;">
             	<h2 th:text="${usersName}">佐藤太郎</h2>
              <div class="social-links mt-2">
			     <th:block th:if="${usersId != loginId && usersId != null}">
                		<form th:action="@{/friend/add/{friendId}(friendId=${usersId})}" th:object="${requestFriend}" method="post">
							<input type="hidden" name="friendId" th:value=${usersId}>
                	    	<button type="submit" class="btn btn-primary rounded-pill" name=status value="1">友達申請</button>
            			</form>
              	  </th:block>
              	
          	  </div>
          </div>

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">基本データ</button>
                </li>
                
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">プロフィール編集</button>
                </li>
      
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">パスワード変更</button>
                </li>
              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">自己紹介</h5>
               
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">プロフィール</div>
                    <div class="col-lg-9 col-md-8" th:text='${users.profile}'> </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">ユーザーネーム</div>
                    <div class="col-lg-9 col-md-8" th:text='${users.name}'> </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">メールアドレス</div>
                    <div class="col-lg-9 col-md-8" th:text='${users.email}'></div>
                  </div>
                  
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">ログインID</div>
                    <div class="col-lg-9 col-md-8" th:text='${users.loginId}'></div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                 
                  <form method="post" enctype="multipart/form-data" th:action="@{/profile/edit}" novalidate th:object="${editProfile}"> 
				　
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-4 col-form-label">プロフィール画像</label>
                      <div class="col-md-8 col-lg-8">
						<span id="previewbox">
							<img src="/assets/profileimg/profile-dummy.png" id="previewimg" style="height: 120px;" />
						</span>
                    
                         <div class="pt-2">
                         			 <label>                      				
										 <span class="btn btn-primary btn-sm" title="Upload new profile image"> <i class="bi bi-upload btn btn-primary btn-sm"></i></span>
                           			 	<input type="file" name="file" id="filesend" style="display: none" >
                          			  </label>
                          			  
                          			  <a href="#" class="btn btn-danger" title="Remove my profile image" onclick="resetPreview();"><i class="bi bi-trash"></i></a>
          
                      	  </div>
                        
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-4 col-form-label">名前</label>
                      <div class="col-md-8 col-lg-8">
                        <input name="name" type="text" class="form-control" id="fullName">
						<!-- <input name="fullname" type="text" class="form-control" id="fullName" th:field="*{name}"> -->

                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="about" class="col-md-4 col-lg-4 col-form-label">自己紹介</label>
                      <div class="col-md-8 col-lg-8">
                        <textarea name="profile" class="form-control" id="about" style="height: 100px"></textarea>
                        <!-- <textarea name="about" class="form-control" id="about" style="height: 100px" th:field="*{profile}"></textarea> -->

                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-4 col-form-label">メールアドレス</label>
                      <div class="col-md-8 col-lg-8">
                        <input name="email" type="email" class="form-control" id="Email" >
                      <!--    <input name="email" type="email" class="form-control" id="Email" th:field="*{emailAddress}"> -->

                      </div>
                    </div>
                    
                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-4 col-form-label">ログインID</label>
                      <div class="col-md-8 col-lg-8">
                        <input name="loginId" type="email" class="form-control" id="login_Id" >
                      <!--    <input name="email" type="email" class="form-control" id="Email" th:field="*{emailAddress}"> -->

                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">プロフィールを保存</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                 

                  <!-- Change Password Form -->
                  <form method="post" th:action="@{/profile/password}" novalidate th:object="${editPassword}">
                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-4 col-form-label">現在のパスワード</label>
                      <div class="col-md-8 col-lg-8">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-4 col-form-label">新しいパスワード</label>
                      <div class="col-md-8 col-lg-8">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-4 col-form-label">新しいパスワードを再入力</label>
                      <div class="col-md-8 col-lg-8">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">パスワードを変更</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
          
          
        </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div th:replace="~{common/shoulder_fragment::footer}"></div>

</body>

</html>