<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{common/shoulder_fragment::head(title = 'SNSサイト - フレンド')}"></div>

<body>

  <!-- ======= Header ======= -->
  <div th:replace="~{common/shoulder_fragment::header}"></div>

  <!-- ======= Sidebar ======= -->
  <div th:replace="~{common/shoulder_fragment::sidebar}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>フレンド</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <div class="col-lg-12">

          <!-- News & Updates Traffic -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">フレンドリスト</h5>

              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
					<th scope="col" style="width: 40px">#</th>&nbsp;
                    <th scope="col">名前</th>&nbsp;
                    <th scope="col">プロフィール</th>&nbsp;
                    <th scope="col">承認ステータス</th>

                  </tr>
                </thead>
                <tbody>
                  
                  <tr th:each="friend : ${usersList3}">
					 <td> <img th:src="(*{friend.iconUri} ? ${@storageService.getDataUri(friend.iconUri)} : '/assets/img/profile-dummy.png')" style="width: 120px;"></th>
                     <td><a th:href="@{/profile/{usersId}(usersId=${friend.id})}" th:text="${friend.name}">奥山恵子</a></td>
                    <td th:text="${friend.profile}">
                      はじめまして、奥山恵子と申します。フリーランスのイラストレーターです。センスが良く、<br>独自のスタイルを持ったイラストを制作しています。<br>クライアントからの要望に応えるため、柔軟な発想力を発揮しています。<br>趣味は絵を描くことと読書です。
                    </td>
                    	
                    <td th:if="${friend.friendsInfo != null}" th:switch="${friend.friendsInfo.status}">
						
						<div th:case="1">
							<button type="button" class="btn btn-secondary rounded-pill" disabled="disabled">申請済み</button>
							<form th:action="@{/friend/delete/{friendId}(friendId=${friend.id})}" th:object="${requestFriend}" method="post">
								<input type="hidden" name="friendId" th:value=${friend.id}>
								<button type="submit" class="btn btn-danger rounded-pill">申請取消</button>
							</form>
						</div>
						
						<div th:case="2">
							
							<form th:action="@{/friend/regist/{friendId}(friendId=${friend.id})}" th:object="${requestFriend}" method="post">
								<input type="hidden" name="friendId" th:value=${friend.id}>
								<button type="submit" class="btn btn-primary rounded-pill">承認</button>
							</form>
							
							<form th:action="@{/friend/delete/{friendId}(friendId=${friend.id})}" th:object="${requestFriend}" method="post">
								<input type="hidden" name="friendId" th:value=${friend.id}>
								<button type="submit" class="btn btn-danger rounded-pill">却下</button>
							</form>
							
						</div>
						
						<div th:case="3">
							<button type="button" class="btn btn-secondary rounded-pill" disabled="disabled">フレンド</button>
							<form th:action="@{/friend/delete/{friendId}(friendId=${friend.id})}" th:object="${requestFriend}" method="post">
								<input type="hidden" name="friendId" th:value=${friend.id}>
								<button type="submit" class="btn btn-danger rounded-pill">フレンド削除</button>
							</form>
						</div>
						
					</td>
					
					<td th:if="${friend.friendsInfo == null}" >
                       <form th:action="@{/friend/list/add/{friendId}(friendId=${friend.id})}" th:object="${requestFriend}" method="post">
							<input type="hidden" name="friendId" th:value=${friend.id}>
                		 	    <button type="submit" class="btn btn-primary rounded-pill" name=status value="1">友達申請</button>
                		   </form>
                    </td>
				
                  </tr>
                  
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>
        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div th:replace="~{common/shoulder_fragment::footer}"></div>

</body>

</html>