<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{common/shoulder_fragment::head(title = 'Home')}"></div>

<body>

  <!-- ======= Header ======= -->
  <div th:replace="~{common/shoulder_fragment::header}"></div>
  
    <div th:replace="~{common/shoulder_fragment::sidebar}"></div>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Home</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-8">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">投稿一覧</h5>

             
              <!-- Table with stripped rows -->
              <div th:if="${@collectionUtil.isEmpty(postList)}" class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-triangle me-1"></i>
                まだトピックは投稿されていません。
              </div>
              <table th:if="${@collectionUtil.isNotEmpty(postsList)}" class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ユーザーネーム</th>
                    <th scope="col">タイトル</th>
                    <th scope="col">本文</th>
                    
                  </tr>
                </thead>
                <tbody>
					<tr th:each="post : ${postsList}">
						<td th:text="${post.users.name}"></td>
						<td th:text="${post.title}"></td>
						<td th:text="${post.body}"></td>

					</tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
               

         

            	</div>
            </div>
          </div>
          
            <div class="col-lg-4">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">今の気持ちをシェアしよう！</h5>

              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <div>
                  <i class="bi bi-exclamation-octagon me-1"></i>
                  <span>エラーメッセージを表示します。</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

              <!-- Vertical Form -->
              <form class="row g-3" method="post" th:action="@{/home/post}" th:object="${requestPost}">
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">タイトル</label>
                  <input type="text" name="title" class="form-control" id="inputNanme4">
                </div>

                <div class="col-12">
                  <label for="inputNanme4" class="form-label">本文</label>
                  <textarea class="form-control" name="body" style="height: 100px"></textarea>
                </div>

                <div class="col-12">
                  <label for="inputNanme4" class="form-label">写真</label>
                  <input class="form-control" name="file" type="file" id="formFile">
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">投稿する</button>
                </div>
              </form>
               <!-- Vertical Form -->
            </div>
          </div>
          
          
        </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div th:replace="~{common/shoulder_fragment::footer}"></div>

</body>

</html>